.sectionDigitalBank__imageWrapper {
    position: relative;
    width: 100%;

    .sectionDigitalBank__photo:first-child {
        width: 100%;
        position: absolute;
    }

    li {
        text-align: center;
    }

    .sectionDigitalBank__photo:last-child {
        position: relative;
        width: 90%;
        top: -3rem;
    }

    @include for-desktop-up {
        position: relative;
        float: right;
        width: 60%;

        .sectionDigitalBank__photo:first-child:not(:last-child) {
            content: url('../../../../images/bg-intro-desktop.svg');
            right: -15rem;
            top: -12rem;
        }

        .sectionDigitalBank__photo:last-child {
           max-width: 60%;
           right: -18rem;

        }
    }
}

