.sectionDigitalBank__imageWrapper {
    position: relative;
    width: 100%;

    .sectionDigitalBank__photo:first-child {
        width: 100%;
        position: absolute;
    }

    li {
        text-align: center;
    }

    .sectionDigitalBank__photo:last-child{
        position: relative;
        width: 90%;
        top: -3rem;
    }
}

