.sectionDigitalBank {
    width: 100%;
    position: relative;
    z-index: -1;
    margin-bottom: 8rem;

    .sectionDigitalBank__container {
        margin: 0 auto;   
        text-align: center;
    }
}