.sectionDigitalBank {
    width: 100%;
    position: relative;
    z-index: -1;
    margin-bottom: 8rem;

    .sectionDigitalBank__container {
        margin: 0 auto;   
        text-align: center;
        height: inherit;
    }

    @include for-desktop-up {
        margin: 0;
        height: 85vh;
    }
}